header {
    background-color: darkgrey;
    text-transform: capitalize;
}

nav {
    background-color: lightgrey;
}

section {
    background-color: lightgrey;
}

footer {
    background-color: slategray;
    margin:auto;
    text-align:center;
}

aside {
    background-color: darkslategray;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: cadetblue;
    text-decoration: overline underline;
}

body {
    margin: auto;
    width: 1000px;
    background-image: url("../img/BrutalLifeCycleJavascript.png");
    background-repeat: repeat;
    background-color: darkslateblue;
}

section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

section header, article header {
    text-transform: uppercase;
    text-align: center;
}


form input, form select {
    background-color: darkslategrey;
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: cornflowerblue;
}

form fieldset {
    margin: 10px;
    width: 300px;
}

table {
    table-layout: fixed;
    text-align: center;
}

table td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

article footer {
    clear: right;
}

