<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{name}}

{{#paramsFromReq}}
Name: {{key}}
Value: {{value}}
{{/paramsFromReq}}
</body>
</html>